<div class="eqLogic-widget eqLogic allowResize gslWidget" style="height: #height#;width: #width#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#">
    <center class="widget-name" style="padding-right: inherit;">
    <span class="warning" title="#alert_name#">
      <i class='#alert_icon#'></i>
    </span>
        <span style="position:relative" class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
      <i class="fas fa-sync"></i>
    </span>
        <span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
        <a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
    </center>
    <div class="row" style="margin-right:0px;margin-left:0px">
        <div class="col-sm-12">
            <center>
                #adresses#
            </center>
        </div>
        <link rel="stylesheet" href="plugins/gsl/3rparty/leaflet.css"/>
        <div class="col-sm-12">
            <div class="gsl" id="map_#id#"></div>
        </div>
    </div>
    <style>
        #map_#id#.gsl {
            width: 100%;
            height: #height-map#px;
        }
        #map_#id#.gsl .leaflet-marker-icon {
            border-radius: 50% !important;
        }
        #gsl-address-#id# .gsl-precision,
        #gsl-address-#id# .gsl-horodatage,
        #gsl-address-#id# .gsl-battery{
            font-size:10px !important;
        }
        #gsl-address-#id# .gsl-address{
            font-size:12px !important;
        }
    </style>
    <script src="plugins/gsl/3rparty/leaflet.js"></script>
    <script src="plugins/gsl/core/template/gsl.template.js"></script>
    <script type="text/javascript">

        if ('#refresh_id#' != ''){
            $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
                jeedom.cmd.execute({id: '#refresh_id#'});
            });
        }else{
            $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove();
        }

        var data#id#=JSON.parse('#json#');
        gslSetTheme(data#id#['light-theme'], data#id#['dark-theme']);
        gslCreateMap(#id#, data#id#['control-attributions'], data#id#['control-zoom']);
        for(id in data#id#.points){
            gslCreateMarker(#id#, data#id#.points[id], id);
            gslCreatePoint(#id#, data#id#.points[id], id);
        }
        gslFocusFeatureGroup(#id#);
        gslMapLoaded(#id#);
    </script>
</div>
