<div class="eqLogic-widget eqLogic allowResize gslGlobal" style="height: #height#;width: #width#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#">
  <center class="widget-name">
    <span class="warning" title="#alert_name#">
      <i class='#alert_icon#'></i>
    </span>
    <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
      <i class="fas fa-sync"></i>
    </span>
    <span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
    <a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
  </center>
  <link rel="stylesheet" href="plugins/gsl/3rparty/leaflet.css"/>
  <div class="row" style="margin-right:0px;margin-left:0px">
    <div class="col-sm-8">
      <div id="map_#id#"></div>
    </div>
    <div class="col-sm-4">#adresses#</div>
  </div>
  <style>
  #map_#id# {
    width: 100%;
    height: #height-map#px;
  }
  #map_#id# .leaflet-marker-icon {
    border-radius: 50% !important;
  }
</style>
<script src="plugins/gsl/3rparty/leaflet.js"></script>
<script type="text/javascript">

  if ('#refresh_id#' != ''){
    $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
      jeedom.cmd.execute({id: '#refresh_id#'});
    });
  }else{
    $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove();
  }
  var map#id#, layer#id#, fg#id#,  data#id#, theme#id#, markers#id#, center#id#=[51.5, -0.09], zoom#id#=15;
  //setTimeout(function(){
   data#id#=JSON.parse('#json#');
   if (!theme#id#) {
     theme#id# = data#id#['light-theme'];
     if($('body')[0].hasAttribute('data-theme')){
      var currentTheme = $('body').attr('data-theme')
      if (currentTheme.endsWith('Dark')) {
        theme#id# = data#id#['dark-theme'];
      }
     }
    $('body').on('changeThemeEvent', function(event,data){
      if(data == 'Dark'){
        theme#id# = data#id#['dark-theme'];
      }else{
        theme#id# = data#id#['light-theme'];
      }
      map#id#.removeLayer(layer#id#);
      layer#id# = new L.TileLayer(theme#id#.url, theme#id#);
      map#id#.addLayer(layer#id#);
    });
  }
             
  
   layer#id# = new L.TileLayer(theme#id#.url, theme#id#);
   fg#id# = L.featureGroup();

  map#id# = L.map('map_' + #id#, {center: center#id#,zoom: zoom#id#, layers:[layer#id#, fg#id#]});
  map#id#.on('moveend', function(){
  	center#id# = map#id#.getCenter();
  });
  map#id#.on('zoomend', function(){
  	zoom#id# = map#id#.getZoom();
  });
   for (var i in data#id#.points) {
    $('#gsl-address-global-'+i).click({eqLogic: i}, generate_gsl_click_handler);
    $('#gsl-address-global-'+i).dblclick(generate_gsl_dblclick_handler);

    var marker  = L.marker(data#id#.points[i].coordinated.split(','), {icon:  L.icon({
      iconUrl: (data#id#.points[i].image ? data#id#.points[i].image: 'plugins/gsl/3rparty/images/avatar-pin-2x.png'),
      shadowUrl: 'plugins/gsl/3rparty/images/avatar-pin-2x.png',
      iconSize: [36, 36],
      shadowSize: [50, 55], 
      iconAnchor: [18, 47], 
      shadowAnchor: [25, 55],  
      popupAnchor: [-3, -76]
    })}).addTo(fg#id#);
    marker._icon.style['background-color'] =  data#id#.points[i].color;

   
	if(!isNaN(data#id#.points[i].accuracy)){
      L.circle(data#id#.points[i].coordinated.split(','), {
               radius: data#id#.points[i].accuracy,
                color: data#id#.points[i].color,
                fillColor: data#id#.points[i].color,
                fillOpacity: 0.5
               }).addTo(fg#id#);
  }
  }
  map#id#.fitBounds(fg#id#.getBounds(), {padding: [30, 30]});
  $('body').on('eqLogic::update',function(){
      map#id#.invalidateSize();
      map#id#.fitBounds(fg#id#.getBounds(), {padding: [30, 30]});
  });
  function generate_gsl_click_handler(event) {
     map#id#.flyToBounds([eval(data#id#.points[event.data.eqLogic].coordinated.split(','))]);
  }
  function generate_gsl_dblclick_handler() {
    map#id#.flyToBounds(fg#id#.getBounds(), {padding: [30, 30]});
  }
//}, 1);
</script>
</div>