<div class="eqLogic eqLogic-widget #class#" data-eqLogic_id="#id#" data-eqType="#eqType#" data-version="#version#" data-eqLogic_uid="#uid#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" style="#style#">
	<span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
		<i class="fas fa-sync"></i>
	</span>
    <center>
		<span class="widget-name">
			<span class="warning" title="#alert_name#">
				<i class='#alert_icon#'></i>
			</span>
			<span>#name_display# <span class="object_name">#object_name#</span></span><br/>
		</span>
    </center>
    <link rel="stylesheet" href="plugins/gsl/3rparty/leaflet.css"/>
    <div class="gsl" id="map_#id#"></div>
    <div style="margin-left: 5px;margin-right: 5px;margin-top : 5px;">#adresses#</div>
    <span class="statusCmd pull-right" style="margin-top: -15px;margin-right:3px;"></span>
    <style>
        #map_#id#.gsl {
            width: 100%;
            height: #height-map#px;
        }
        #map_#id#.gsl .leaflet-marker-icon {
            border-radius: 50% !important;
        }
        #gsl-address-#id#{
            text-align: center;
            font-size:12px !important;
      	}
        #gsl-address-#id# .gsl-name,
        #gsl-address-#id# .gsl-address{
            font-size:14px !important;
        }
    </style>
    <script src="plugins/gsl/3rparty/leaflet.js"></script>
    <script src="plugins/gsl/core/template/gsl.template.js"></script>
    <script type="text/javascript">
        if ('#refresh_id#' != ''){
            $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
                jeedom.cmd.execute({id: '#refresh_id#'});
            });
        }else{
            $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove();
        }

        var data#id#=JSON.parse('#json#');
        gslSetTheme(data#id#['light-theme'], data#id#['dark-theme']);
        gslCreateMap(#id#, data#id#['control-attributions'], data#id#['control-zoom']);
	gslObjects.maps[#id#].customZoom = #zoom#;
        for(id in data#id#.points){
            gslCreateMarker(#id#, data#id#.points[id], id);
            gslCreatePoint(#id#, data#id#.points[id], id);
        }
        gslFocusFeatureGroup(#id#);
        gslMapLoaded(#id#);
    </script>
</div>
