<div class="eqLogic-widget eqLogic allowResize"
     style="height: #height#;width: #width#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#"
     data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#">


    <link rel="stylesheet" href="plugins/gsl/3rparty/leaflet.css"/>
    <center><a href="#eqLink#" style="font-size : 1.5em;#hideEqLogicName#">#name_display#</a></strong></center>
    <div class="row">
        <div id="map_#id#">#script#</div>
    </div>
    <div class="row">
        <div class="col-sm-12">#adresses#</div>
    </div>
</div>
</div>
<style>
    #map_#id# {
        width: 100%; /*#width-map#px;*/
        height: #height-map#px;
    }

    .leaflet-marker-icon {
        border-radius: 50%;
    }
</style>
<script src="/plugins/gsl/3rparty/leaflet.js"></script>