<div class="eqLogic-widget eqLogic allowResize gslGlobal" style="height: #height#;width: #width#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#">
  <center class="widget-name">
    <span class="warning" title="#alert_name#">
      <i class='#alert_icon#'></i>
    </span>
    <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
      <i class="fas fa-sync"></i>
    </span>
    <span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
  </center>
  <link rel="stylesheet" href="plugins/gsl/3rparty/leaflet.css"/>
  <div id="map_#id#"></div>
  <div style="margin-left: 5px;margin-right: 5px;margin-top : 5px;">#adresses#</div>
  <span class="statusCmd pull-right" style="margin-top: -15px;margin-right:3px;"></span>
  <style>
  #map_#id# {
    width: 100%;
    height: #height-map#px;
  }
  #map_#id# .leaflet-marker-icon {
    border-radius: 50% !important;
  }
  .eqLogic[data-eqLogic_uid=#uid#] .ui-content hr, .ui-panel-inner hr{
    margin: 0px !important;
  }
    
    
    #gsl-address-global-#id# .gsl-precision{
      font-size:10px !important;
    }
     #gsl-address-global-#id# .gsl-horodatage{
      font-size:10px !important;
    }
     #gsl-address-global-#id# .gsl-battery{
      font-size:10px !important;
    }
     #gsl-address-global-#id# .gsl-name{
      font-size:12px !important;
    }
</style>
<script src="plugins/gsl/3rparty/leaflet.js"></script>
<script type="text/javascript">
  var map#id#, layer#id#, fg#id#,  data#id#, theme#id#, markers#id#={}, intervals#id#={};
  var MONTH_NAMES = [
  'Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin',
  'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'
];
  function gslGetFormattedDate(date, prefomattedDate = false, hideYear = false) {
    const day = date.getDate();
    const month = MONTH_NAMES[date.getMonth()];
    const year = date.getFullYear();
    const hours = date.getHours();
    let minutes = date.getMinutes();

    if (minutes < 10) {
      // Adding leading zero to minutes
      minutes = `0${ minutes }`;
    }

    if (prefomattedDate) {
      // Today at 10:20
      // Yesterday at 10:20
      return `${ prefomattedDate } à ${ hours }:${ minutes }`;
    }

    if (hideYear) {
      // 10. January at 10:20
      return `${ day }. ${ month } à ${ hours }:${ minutes }`;
    }

    // 10. January 2017. at 10:20
    return `${ day }. ${ month } ${ year }. à ${ hours }:${ minutes }`;
  }
  function gslTimeAgo(dateParam, id) {
    if (!dateParam) {
      return null;
    }

    const date = new Date(dateParam);
    const DAY_IN_MS = 86400000; // 24 * 60 * 60 * 1000
    const today = new Date();
    const yesterday = new Date(today - DAY_IN_MS);
    const seconds = Math.round((today - date) / 1000);
    const minutes = Math.round(seconds / 60);
    const isToday = today.toDateString() === date.toDateString();
    const isYesterday = yesterday.toDateString() === date.toDateString();
    const isThisYear = today.getFullYear() === date.getFullYear();
	var result;
    if (seconds < 60) {
      result = 'maintenant';
    } else if (seconds < 90) {
      result = 'il y a une minute';
    } else if (minutes < 60) {
      result = `il y a ${ minutes } minutes`;
    } else if (isToday) {
      result = gslGetFormattedDate(date, 'Aujourd\'hui'); // Today at 10:20
    } else if (isYesterday) {
      result = gslGetFormattedDate(date, 'Hier'); // Yesterday at 10:20
    } else if (isThisYear) {
      result = gslGetFormattedDate(date, false, true); // 10. January at 10:20
    }else{
	  result = gslGetFormattedDate(date); // 10. January 2017. at 10:20
    }
    cmd = $('.cmd.gsl-horodatage[data-cmd_id='+id+']');
    cmd.empty().append(result);
      if(intervals#id#[id]){
         clearTimeout(intervals#id#[id]);
      }
      intervals#id#[id] = setTimeout(function(){gslTimeAgo(dateParam, id)}, 60000);
  }
  function createPoint(point, id){

    if(point.battery){
      jeedom.cmd.update[point.battery.id] = function(_options) {
        var cmd = $('.cmd.gsl-battery[data-cmd_id='+point.battery.id+']');
        cmd.empty().append(_options.display_value);
        var icon = 'fa-battery-0';
        if(_options.display_value > 80){
          icon = 'fa-battery-4';
        }else if(_options.display_value > 60){
          icon = 'fa-battery-3';
        }else if(_options.display_value > 40){
          icon = 'fa-battery-2';
        }else if(_options.display_value > 20){
          icon = 'fa-battery-1';
        }
        cmd = $('.cmd.gsl-battery-icon[data-cmd_id='+point.battery.id+']');
        cmd.find('i').attr('class', 'fa ' + icon);
      }
    
    	jeedom.cmd.update[point.battery.id]({display_value:point.battery.value});
    }
    
    if(point.accuracy){
      jeedom.cmd.update[point.accuracy.id] = function(_options) {
        var cmd = $('.cmd[data-cmd_id='+point.accuracy.id+']');
        if(_options.display_value){
          cmd.empty().append('Précision : ' + _options.display_value + 'm');
        }else{
          cmd.empty();
        }
        updateCircleRadius(_options.display_value, id);
      }
    	jeedom.cmd.update[point.accuracy.id]({display_value:point.accuracy.value});
    }
    
    if(point.address){
    jeedom.cmd.update[point.address.id] = function(_options) {
      var cmd = $('.cmd[data-cmd_id='+point.address.id+']');
      cmd.empty().append(_options.display_value);
      cmd.attr('title','Date : '+_options.collectDate);
      gslTimeAgo(_options.collectDate, point.address.id);
    }
    jeedom.cmd.update[point.address.id]({display_value:point.address.value, collectDate:point.address.collectDate});
    }
    
    if(point.charging){
      jeedom.cmd.update[point.charging.id] = function(_options) {
      var cmd = $('.cmd[data-cmd_id='+point.charging.id+']');
      if(_options.display_value){
      	cmd.find('i').addClass('fas fa-bolt');
      }else{
      	cmd.find('i').removeClass('fas fa-bolt');
      }
    }
    	jeedom.cmd.update[point.charging.id]({display_value:point.charging.value});
    }
    
    if(point.coordinated){
    jeedom.cmd.update[point.coordinated.id] = function(_options) {
      updateMarker(_options.display_value, id);
    }
    jeedom.cmd.update[point.coordinated.id]({display_value:point.coordinated.value});
    }
    $('#gsl-address-global-'+id).click({eqLogic: id}, generate_gsl_click_handler);
    $('#gsl-address-global-'+id).dblclick(generate_gsl_dblclick_handler);
  }
  
  if ('#refresh_id#' != ''){
    $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
      jeedom.cmd.execute({id: '#refresh_id#'});
    });
  }else{
    $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove();
  }
   data#id#=JSON.parse('#json#');
   if (!theme#id#) {
     theme#id# = data#id#['light-theme'];
     if($('body')[0].hasAttribute('data-theme')){
      var currentTheme = $('body').attr('data-theme')
      if (currentTheme.endsWith('Dark')) {
        theme#id# = data#id#['dark-theme'];
      }
     }
    $('body').on('changeThemeEvent', function(event,data){
      if(data == 'Dark'){
        theme#id# = data#id#['dark-theme'];
      }else{
        theme#id# = data#id#['light-theme'];
      }
      map#id#.removeLayer(layer#id#);
      layer#id# = new L.TileLayer(theme#id#.url, theme#id#);
      map#id#.addLayer(layer#id#);
    });
  }
  
  function createMarker(point, id){
    markers#id#[id] = {};
      var marker = L.marker(point.coordinated.value.split(','), {icon:  L.icon({
      iconUrl: (point.image && point.image.value ? point.image.value: 'plugins/gsl/3rparty/images/avatar-pin-2x.png'),
      shadowUrl: 'plugins/gsl/3rparty/images/avatar-pin-2x.png',
      iconSize: [36, 36],
      shadowSize: [50, 55], 
      iconAnchor: [18, 47], 
      shadowAnchor: [25, 55],  
      popupAnchor: [-3, -76]
    })}).addTo(fg#id#);
    marker._icon.style['background-color'] =  point.color;
    markers#id#[id].marker = marker;          
  
  	createCircle(point, id);
  }
  
  function createCircle(point, id){
    if(point.accuracy && !isNaN(point.accuracy.value)){
      var circle = L.circle(point.coordinated.value.split(','), {
                 radius: point.accuracy.value,
                  color: point.color,
                  fillColor: point.color,
                  fillOpacity: 0.5
                 }).addTo(fg#id#);
      markers#id#[id].circle = circle;   
    }
  }
  
  function updateMarker(coords, id){
    markers#id#[id].marker.setLatLng(coords.split(','));
    updateCircleCoords(coords, id);
  }
  function updateCircleCoords(coords, id){
    if(markers#id#[id].circle){
    	markers#id#[id].circle.setLatLng(coords.split(','));
    }
  }
  function updateCircleRadius(radius, id){
    if(markers#id#[id].circle){
    	markers#id#[id].circle.setRadius(radius);
    }
  }
             
  
   layer#id# = new L.TileLayer(theme#id#.url, theme#id#);
   fg#id# = L.featureGroup();
   map#id# = L.map('map_' + #id#, {center: [45.808786, 4.872636],zoom: 15, layers:[layer#id#, fg#id#],attributionControl: data#id#['control-attributions'], zoomControl: data#id#['control-zoom']});

  for(id in data#id#.points){  
        createMarker(data#id#.points[id], id);
        createPoint(data#id#.points[id], id);
  }
  map#id#.fitBounds(fg#id#.getBounds());
  setTimeout(function(){
    map#id#.invalidateSize();
  },1);
  function generate_gsl_click_handler(event) {
     map#id#.flyToBounds([eval(data#id#.points[event.data.eqLogic].coordinated.value.split(','))]);
  }
  function generate_gsl_dblclick_handler() {
    map#id#.flyToBounds(fg#id#.getBounds(), {padding: [30, 30]});
  }
</script>
</div>